<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facturaDetalle">
            <h2><span jhiTranslate="gatewaystoreApp.facturaDetalle.detail.title">Factura Detalle</span> {{ facturaDetalle.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaystoreApp.facturaDetalle.productoId">Producto Id</span></dt>
                <dd>
                    <span>{{ facturaDetalle.productoId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaystoreApp.facturaDetalle.cantidad">Cantidad</span></dt>
                <dd>
                    <span>{{ facturaDetalle.cantidad }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaystoreApp.facturaDetalle.precioUnitario">Precio Unitario</span></dt>
                <dd>
                    <span>{{ facturaDetalle.precioUnitario }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/factura-detalle', facturaDetalle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
