<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-factura-detalle-heading" jhiTranslate="gatewaystoreApp.facturaDetalle.home.createOrEditLabel">Create or edit a Factura Detalle</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.facturaDetalle.productoId" for="field_productoId">Producto Id</label>
                    <input type="number" class="form-control" name="productoId" id="field_productoId"
                           formControlName="productoId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.facturaDetalle.cantidad" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                           formControlName="cantidad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.facturaDetalle.precioUnitario" for="field_precioUnitario">Precio Unitario</label>
                    <input type="number" class="form-control" name="precioUnitario" id="field_precioUnitario"
                           formControlName="precioUnitario"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
