<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="gatewaystoreApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.cliente.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.cliente.apellido" for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                           formControlName="apellido"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.cliente.identificacion" for="field_identificacion">Identificacion</label>
                    <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                           formControlName="identificacion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.cliente.factura" for="field_factura">Factura</label>
                    <select class="form-control" id="field_factura" name="factura" formControlName="factura">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facturaOption.id === editForm.get('factura')!.value?.id ? editForm.get('factura')!.value : facturaOption" *ngFor="let facturaOption of facturas; trackBy: trackById">{{ facturaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
