<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaystoreApp.factura.home.title">Facturas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-factura" [routerLink]="['/factura/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaystoreApp.factura.home.createLabel">
            Create a new Factura
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="facturas?.length === 0">
        <span jhiTranslate="gatewaystoreApp.factura.home.notFound">No facturas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="facturas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewaystoreApp.factura.fecha">Fecha</span></th>
                    <th scope="col" ><span jhiTranslate="gatewaystoreApp.factura.valor">Valor</span></th>
                    <th scope="col" ><span jhiTranslate="gatewaystoreApp.factura.fechaPago">Fecha Pago</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factura of facturas ;trackBy: trackId">
                    <td><a [routerLink]="['/factura', factura.id, 'view']">{{ factura.id }}</a></td>
                    <td>{{ factura.fecha | date:'medium' }}</td>
                    <td>{{ factura.valor }}</td>
                    <td>{{ factura.fechaPago | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/factura', factura.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/factura', factura.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(factura)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
